@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");

body {
  font-family: "Zilla Slab";
  background-color: #fbf3d5;
}

/* Header Section Styles */
.header {
  border-bottom: 2px solid black !important;
}

#header li.nav-item {
  display: inline-block;
  margin-right: 8px;
}

#header li.nav-item a {
  color: black;
  text-shadow: #ffbb5c;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
}

#header li.nav-item a:hover {
  color: #C63D2F;
}

.fs-4 {
  text-decoration: none;
  font-weight: bold;
  font-size: 29px;
  margin-top: 10px;
  margin-right: 8px !important;
}

/* Hero Section Styles */

#hero .container {
  background-color: #ff9b50;
  border: 3px solid black;
  box-shadow: 0px 0px 0px 4px black, 20px 20px 0px 8px #ffbb5c;
}

#hero h1.display-4 {
  font-size: 38px;
  font-weight: bold;
  color: black !important;
  margin-bottom: 30px;
}

#hero p {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
}

.robot {
  height: 400px;
  width: 520px;
  border: 4px solid black;
  box-shadow: 0 0 0 1px black, 0 0 0 8px #ffbb5c;
}
.position-relative {
  position: relative;
}

.second-image {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  height: 400px;
  width: 420px;
  border: 4px solid black;
  box-shadow: 0 0 0 1px black, 0 0 0 8px #ffbb5c;
}

/* About Us Section Styles */
#about-us {
  color: black;
  margin-bottom: 40px;
}
.abouth1 {
  border-bottom: 2px solid black !important;
}

.lead {
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
}

/* Background color for the .bg-body-tertiary element inside #about-us */
#about-us .bg-body-tertiary {
  background-color: #ffbb5c !important;
}



/* Products Section Styles */
#products {
  background-color: #fbf3d5;
  color: black;
}
.productimg{
  height: 400px;
  width: 620px;
  border: 4px solid black;
  box-shadow: 0 0 0 1px black, 0 0 0 8px #ffbb5c;
}
#products h1 {
  color: black !important;
  border-bottom: 2px solid black !important;
  text-align: center;
}

#products h2 {
  color: black !important;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.5;
}

#products p.text-body-secondary {
  color: black !important;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Background color for the container inside #products */
#products .container {
  background-color: #E25E3E;
  border: 2px solid black;
  box-shadow: 0px 0px 0px 4px black;
  margin-bottom: 50px;
}

.icons {
  color: black;
}



/* Contact Section Styles */
#contact {
  padding: 80px 0;
  background-color: white; /* Background color for the entire #contact section */
  color: black;
  font: bold !important;
}

/* Background color for the container inside #contact */
#contact .container {
  background-color: white; /* Set a different background color for the container */
}

#contact form {
  padding: 20px;
  border-radius: 15px;
  background-color: #448c74 !important; /* Set a background color for the form */
}

#contact button.btn {
  background-color: white;
  color: black;
  font-weight: bold;
}
