@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');



body {
    font-family: 'Zilla Slab';
}


/* Header Section Styles */
  
  #header li.nav-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  #header li.nav-item a {
    color: #448c74;
    text-decoration: none;
    font-weight: bold;
  }
  
  #header li.nav-item a:hover {
    text-decoration: underline;
  }
  


/* Hero Section Styles */

/* Background color for the container inside #hero */
#hero .container {
    background-color:#448c74; /* Set a different background color for the container */
  }

 #hero h1.display-4 {
    font-size: 36px;
    font-weight: bold;
    color: white !important;
  }
  
 #hero p {
    font-size: 18px;
    line-height: 1.5;
  }
  
#hero .btn {
    background-color: white;
    color: black;
    font-weight: bold;
  }
  

/* About Us Section Styles */
#about-us {
    background-color: #f8f9fa;
    color: black;
  }
  
  /* Background color for the .bg-body-tertiary element inside #about-us */
  #about-us .bg-body-tertiary {
    background-color: #e9ecef; /* Set a different background color for the container */
  }
  
 
/* Products Section Styles */
#products {
    background-color: black; /* Background color for the entire #products section */
    color: white;
  }
  
#products h1 {
    color: white !important;
}
  
#products h2 {
    color: white !important;
  }
  
 #products p.text-body-secondary {
    color: white!important;
  }


  /* Background color for the container inside #products */
#products .container {
    background-color: black; /* Set a different background color for the container */
  }
  
.icons{
    color: #448c74;
}

  /* Contact Section Styles */
#contact {
    padding: 80px 0;
    background-color: white; /* Background color for the entire #contact section */
    color: black;
    font: bold !important;
  }
  
  /* Background color for the container inside #contact */
  #contact .container {
    background-color: white; /* Set a different background color for the container */
  }
  

  #contact form {
    padding: 20px;
    border-radius: 15px;
    background-color: #448c74 !important; /* Set a background color for the form */
  }
  

 #contact button.btn{
    background-color: white;
    color: black;
    font-weight: bold;
  }
  

  
 

  